@model EmployeeModel

<div class="row justify-content-center">

    <div class="col-lg-4">
        <form id="employee-form"
              asp-action="SaveEmployeeData"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-loading="#employee-form .spinner"
              data-ajax-success="reloadUserName"
              data-ajax-failure="formAjaxFailure">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Employee.Id)

            <div class="widget">
                <div class="widget-title">
                    <h3 class="user-fullname">@(await IdentityRepository.GetFullName())</h3>
                </div>

                <div class="widget-content">

                    <partial name="_EmployeePartial" model=Model.Employee />

                    <button type="submit" class="btn btn-primary btn-rounded btn-iconed">
                        <span>Сохранить изменения</span>
                        <span class="spinner" style="display:none;"><i class="fas fa-spinner fa-spin-pulse"></i></span>
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-lg-4">
        <form id="user-form"
              asp-action="SaveUserData"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-loading="#user-form .spinner"
              data-ajax-failure="formAjaxFailure">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.User.Id)


            <div class="widget">

                <div class="widget-title">
                    <h3>Пользователь</h3>
                </div>

                <div class="widget-content">

                    <partial name="_UserPartial" model=Model.User />

                    <button type="submit" class="btn btn-primary btn-rounded btn-iconed">
                        <span>Сохранить изменения</span>
                        <span class="spinner" style="display:none;"><i class="fas fa-spinner fa-spin-pulse"></i></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <label class="error"><div asp-validation-summary="All"></div></label>

</div>
